<section class="talks" id="talks">
  <% for (var i = 0; i < articles.length; i++) { %>
    <div class="talks--item">
      <div class="talks--item__header">
        <img class="talks--item__header-avatar" 
              src="<%= articles[i].avatar %>" />
        <span class="talks--item__header-nickname">
          <%= articles[i].nickname %>
        </span>
      </div>
      <div class="talks--item__detail">
        <div class="talks--item__detail-word">
          <span class="hl">
            <%= keyword %>
          </span>
          <%= articles[i].content %>
        </div>
        <% if (articles[i].imgs.length > 0) { %>
          <div class="talks--item__detail-imgs">
            <% for (var j = 0; j < articles[i].imgs.length; j++) { %>
              <img src="http://hongyan.cqupt.edu.cn/cyxbsMobile/Public/photo/thumbnail/<%= articles[i].imgs[j] %>">
            <% } %>
          </div>
        <% } %>
      </div>
      <div class="talks--item__bottom">
        <span class="talks--item__bottom-time">
          <%= articles[i].time %>
        </span>
        <div class="talks--item__bottom-reviews">
          <i class="iconfont">&#xe621;</i>
          <%= articles[i].remarks %>
        </div>
        <div class="talks--item__bottom-likes">
        <i class="iconfont">&#xe65e;</i>
          <%= articles[i].likes %>
        </div>
      </div>
    </div>
  <% } %>
</section>